praw
cloudinary
numpy
matplotlib
torchvision==0.4.1 -f https://download.pytorch.org/whl/cpu/torch_stable.html
torch==1.2.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
Pillow
opencv-python